<div class="todo-content">
  <h1 class="page-title">Add Services</h1>
  <div class="todo-create">
    <form #todoForm="ngForm" (ngSubmit)="createTodo(todoForm)" novalidate>

      <div class="row">

        <div class="col">
          <input type="text" class="form-control" placeholder="Service ID" id="serviceID" name="serviceID" [(ngModel)]="newService.id"
          />
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="Service Name" id="serviceName" name="serviceName" required name="title"
            [(ngModel)]="newService.name" />
        </div>


        <div class="col">
          <select class="form-control custom-select mr-sm-2" id="serviceType" name="serviceType" [(ngModel)]="newService.serviceStackType">
            <option selected>Service Type</option>
            <option value="0">EXTERNAL</option>
            <option value="1">INTERNAL</option>
            <option value="2">VALIDATION</option>
          </select>
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="Stack ID" id="StackID" name="StackID" [(ngModel)]="newService.serviceStackId"
          />
        </div>


        <div class="col">
          <input type="text" id="desc" class="form-control" placeholder="Service Description" required name="desc" [(ngModel)]="newService.description">
        </div>

        <div class="col">
          <input type="submit" class="btn" value="Add Service" />
        </div>

      </div>

    </form>
  </div>


  <ul class="todo-list">
    <li *ngFor="let service of services">
      <div class="todo-row" *ngIf="!editing || editingTodo.id != service.id">
        <a class="todo-completed" (click)="toggleCompleted(service)">
          <i class="material-icons toggle-completed-checkbox"></i>
        </a>
        <span class="todo-title">
          {{service.name}}
        </span>
        <span class="todo-actions">
          <a (click)="editTodo(service)">
            <i class="material-icons edit">edit</i>
          </a>
          <a (click)="deleteTodo(service.id)">
            <i class="material-icons delete">clear</i>
          </a>
        </span>
      </div>
      <div class="todo-edit" *ngIf="editing && editingService.id === service.id">
        <input class="form-control" type="text" [(ngModel)]="editingService.name" required>
        <span class="edit-actions">
          <a (click)="updateTodo(editingService)">
            <i class="material-icons save">done</i>
          </a>
          <a (click)="clearEditing()">
            <i class="material-icons">clear</i>
          </a>
        </span>
      </div>
    </li>
  </ul>
  <div class="no-todos" *ngIf="services && services.length == 0">
    <p>No Todos Found!</p>
  </div>
</div>